.appbar {
  top: auto;
  bottom: 0;
}

.fabBtn {
  position: absolute;
  z-index: 1;
  top: -30px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.list {
  li {
    padding-top: 0;
    padding-bottom: 0;
  }
}
